@media print {
  body *:not(.receipt-table) :not(.receipt-table *) {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: #fff;
    color: #333;
    border: none;
    visibility: hidden;
  }
  .container {
    background: none;
    border: none;
  }

  .receipt-table {
    position: absolute;
    top: 130px;
    left: 0;
  }

  .receipt-table {
    visibility: visible !important;
  }
  footer {
    visibility: hidden;
    display: none;
  }
}
